name: Build
on:
  push:
    branches:
      - main
      - ci
jobs:
  build-amd64:
    runs-on: ubuntu-24.04
    steps:
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          nix_path: nixpkgs=channel:nixos-25.05
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: packer-kubernetes-hcloud
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - run: nix build '.#nixosConfigurations.hcloud-kubernetes.config.system.build.toplevel'
  build-arm64:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          nix_path: nixpkgs=channel:nixos-25.05
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: packer-kubernetes-hcloud
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - run: nix build '.#nixosConfigurations.install-image-orangepi5plus.config.system.build.toplevel'
